*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(255, 255, 255);
}
.sticky-top{
    background-color: rgb(255, 255, 255); 
}
.userContent{
    border-left: 1px solid rgba(0, 0, 0, 0.165);
    border-top: 1px solid rgba(0, 0, 0, 0.165);
    border-bottom: 1px solid rgba(0, 0, 0, 0.165);
}
#mainContent{
    width: 65%;
}
.bi-house-fill,
.bi-person-circle,
.bi-sliders2-vertical,
.bi-box-arrow-in-right{
    font-size: 17px;
}

.dropdown-item:active{
    background-color: unset !important;
}
.note-icon-caret{
    display: none;
}

.comment{
    z-index: 99999;
}

#commentForm{
    background-color: rgba(240, 240, 234, 0.648);
}

.accordion-body{
    padding-left: 0px;
    padding-right: 0px;
}

.accordion-profile{
    padding-left: 0px;
    padding-right: 0px;
    min-height: 600px;
    max-height: 600px;
    overflow-y: scroll;
}

.note-editable{
    background-color: white;
}
